body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  color: royalblue;
  background-color: #302f2f;
}

.btn-sm{
  color: black;
  background-color: greenyellow;
}

.btn-primary {
  background-color: blueviolet;
  color: aquamarine;
}

.btn-success {
  background-color: blueviolet;
  color: aquamarine;
}

.btn-primary:hover, .btn-success:hover, .btn-sm:hover {
  background-color: chocolate;
}


